<p-fieldset>
  <ng-template #header>
    <p-inplace>
      <ng-template #display>
        <span class="cursor-pointer decoration-dashed hover:underline"
          >{{ ingredient().name }}
        </span>
      </ng-template>
      <ng-template #content let-closeCallback="closeCallback">
        <input
          [pAutoFocus]="true"
          pInputText
          [ngModel]="ingredient().name"
          (ngModelChange)="ingredient().setName($event)"
          placeholder="Ingredient name"
          (blur)="closeCallback()"
          (keydown.enter)="closeCallback()"
        />
      </ng-template>
    </p-inplace>
  </ng-template>

  <div class="flex flex-row gap-6 mt-3">
    <p-inputgroup>
      <p-floatlabel variant="on">
        <p-inputnumber
          inputId="{{ ingredient().name }}-percentage"
          [ngModel]="ingredient().percentage"
          (ngModelChange)="ingredient().setPercentage($event)"
          [min]="0"
          [max]="100"
          [step]="1"
        />
        <label for="{{ ingredient().name }}-percentage">Percentage</label>
      </p-floatlabel>

      <p-inputgroup-addon>%</p-inputgroup-addon>
    </p-inputgroup>

    <p-inputgroup>
      <p-floatlabel variant="on">
        <p-inputnumber
          inputId="{{ ingredient().name }}-weight"
          [ngModel]="ingredient().weight"
          (ngModelChange)="ingredient().setWeight($event)"
          [min]="0"
          [step]="1"
        />
        <label for="{{ ingredient().name }}-weight">Weight</label>
      </p-floatlabel>

      <p-inputgroup-addon>g</p-inputgroup-addon>
    </p-inputgroup>

    <p-button
      icon="pi pi-trash"
      aria-label="Delete"
      severity="danger"
      variant="text"
      (click)="ingredient().delete()"
    />
  </div>
</p-fieldset>
