<h1 class="text-xl mb-4">Calculator</h1>
<p-inputgroup class="mb-6">
  <p-floatlabel variant="on">
    <p-inputnumber
      inputId="total-flour-weight"
      [ngModel]="data().flourAmount"
    />
    <label for="total-flour-weight">Flour</label>
  </p-floatlabel>

  <p-inputgroup-addon>g</p-inputgroup-addon>
</p-inputgroup>
@for (ingredientType of data().ingredientTypes; track ingredientType.name) {
<div class="mb-4">
  <app-ingredient-group
    [ingredientType]="ingredientType"
  ></app-ingredient-group>
</div>
}
